body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

html {
    scroll-behavior: smooth;
}


main {
    flex: 1;
}

/* Header */
header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 0.5rem 0 0;
    font-size: 1.2rem;
}

/* Hero Background */
#hero-section {
    background: url('../images/background.jpg') no-repeat center center/cover;
    color: white; /* Adjust text color for contrast */
    padding: 5rem 0; /* Adjust spacing as needed */
}


/* Navbar */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.navbar-toggler {
    border-color: white; 
}

/* Footer */
footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem 0;
}